*{
    margin:0px;
    padding:0px;
}

:root{
    --ctBtnSize: 400px; 
}

body{
    
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    height:100vh;
}


#calc{
    height: min-content; 
    width: min-content;
}

.ctBtn{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    height: min-content;
    width: min-content;
    border-radius:2px;
    grid-column-gap:2px;
    width: var(--ctBtnSize);
    height: var(--ctBtnSize);
}

#pantalla{    
    padding:10px;
    padding-left : 40px;
    padding-right : 10px;;
    border-radius:2px;
    border:1px solid #ccc;
    border: 1px solid #ccc;
    line-height: 60px;
    font-size:32px;
    min-height: 81.6px;
}

button{
    border: 1px solid #ccc;
    transition:all 300ms;
    font-size:24px;
}
button:hover{
    background-color:aqua;
    color:brown;
}

.layoutA{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.layoutB{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column: 4/5;
}

.calc_btn{
    width: 100%;
    height: 100%; 
}

@media (max-width: 400px) {
    :root{
        --ctBtnSize: 300px; 
    }
    
}


@media (max-width: 327px) {
    :root{
        --ctBtnSize: 200px; 
    }

    .layoutA{
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
    }

    .layoutB{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1/5;
    }

    .layoutB > .calc_btn:last-child{
        grid-column-end: span 3;
    }


    
}